<!-- <div  class="flex items-center justify-center gap-4">
<p>Search for items: </p>
<label class="input input-bordered flex items-center ">
  
    <input type="text" class="grow" placeholder="Search"  />
   
  </label>
</div> -->
<div class="flex items-center justify-center space-x-2">
  <!-- template ref variable -->
  <input type="text" placeholder="Search..." class="input input-bordered w-96" #searchTextValue/>
  <button class="btn btn-accent" (click)="onSearch(searchTextValue)">Search</button>
</div>
<div class="card-title flex items-center justify-center mt-3" *ngIf="searchText != ''">
  <span>Search results for:</span>
  <h3 class="ml-2">{{searchText}}</h3>
</div>
